Section10/PaymentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://bharaththippireddy.com/Patient"
        xmlns:tns="http://bharaththippireddy.com/Patient"
        attributeFormDefault="unqualified">

    <complexType name="PaymentType">
        <choice>
            <element name="insurance" type="tns:Insurance" />
            <element name="cash" type="int" />
        </choice>
    </complexType>
</schema>


